<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.multi_semi.member.dao.MemberMapper">

    <select id="findMemberByNo" resultType="MemberDto">
        SELECT

            no, id, email, pwd, name, phone, addr, intro, role, uuid
        FROM mem
        WHERE no = #{no}

    </select>

    <select id="findMemberById" resultType="MemberDto">
        SELECT

            no, id, email, pwd, name, phone, addr, intro, role, uuid
        FROM mem
        WHERE id = #{id}

    </select>

    <select id="findMemberByEmail" resultType="MemberDto">
        SELECT
            no, id, email, pwd, name, phone, addr, intro, role, uuid
        FROM mem
        WHERE email = #{email}
    </select>

    <insert id="insertMember" parameterType="MemberReqDto">
        INSERT INTO mem

            (id, name, pwd, email)

        VALUES
            (#{id}, #{name}, #{pwd}, #{email})
    </insert>

    <insert id="insertOAuthMember" parameterType="MemberDto">
        INSERT INTO mem

            (id, name, uuid, email)

        VALUES
            (#{id},#{name},#{uuid},#{email})
    </insert>

    <update id="updateUuidByNo" parameterType="MemberDto">
        update mem
        set uuid = #{uuid}
        where no = #{no}
    </update>

    <update id="updateMemberInfo" parameterType="UpdateMemberReqDto">
        UPDATE mem
        <set>
            <if test="id != null">id = #{id},</if>

            <if test="pwd != null">pwd = #{pwd},</if>

            <if test="name != null">name = #{name},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="intro != null">intro = #{intro},</if>
        </set>
        WHERE email = #{email}
    </update>

    <update id="updateMemberPwd" parameterType="UpdateMemberReqDto">
        update mem
        set pwd = #{pwd}
        where email = #{email}
    </update>

    <delete id="deleteMemberByEmail">
        delete from mem
        where email = #{email}
    </delete>


</mapper>

