<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.multi_semi.place.dao.PlaceMapper">

    <select id="findByPlaceId" resultType="PlaceDto">
        SELECT
            a.no,
            b.name as district,
            a.title as title,
            a.descr as description,
            a.addr as address,
            a.phone as phone,
            a.lat,
            a.lng,
            a.first_img as imageUrl

        from place a, area_code b
        where a.dist = b.code
          and a.no = #{placeId}

    </select>




</mapper>

