<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.multi_semi.place.dao.PlaceMapper">

    <select id="findByPlaceId" resultType="PlaceDto">
        SELECT
            no,
            district,
            title,
            description,
            address,
            phone,
            created_at as createAt,
            updated_at as updateAt
        FROM travels
        WHERE no = #{placeId}

    </select>




</mapper>

